body {
    background-color: rgba(87, 75, 75, 0.788);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
}

#log-sign {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    text-decoration: none;
    gap: 0.2rem;
    margin-left: auto;
    margin-right: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(54, 47, 47, 0.884);
    height: 55px;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 50px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

ul a {
    text-decoration: none;
    color: white;
}

.container {
    min-height: 72vh;
    width: 75%;
    background-color: rgba(73, 65, 65, 0.733);
    border-radius: 10px;
    padding: 34px;
    color: white;
    display: flex;
    margin: 20px auto;
    background-image: url("/Spotify-Clone/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    position: sticky;
    bottom: 0;
    color: white;
    height: 75px;
    background-color: rgba(29, 26, 26, 0.959);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
}

#progressBar {
    width: 100vh;
    cursor: pointer;
}

.songItem {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.507);
    width: 75%;
    color: black;
    margin: 20px 0;
    border-radius: 30px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    cursor: pointer;
}

.songItem a {
    color: black;
}

.songItem img {
    width: 45px;
    border-radius: 50%;
}

.timeStamp {
    margin: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.songInfo {
    position: absolute;
    left: 5vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.songList {
    overflow: scroll;
    height: 500px;
}

.songList::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}