body {
    background-color: rgba(87, 75, 75, 0.788);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
}

#log-sign {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    text-decoration: none;
    gap: 0.2rem;
    margin-left: auto;
    margin-right: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(54, 47, 47, 0.884);
    height: 55px;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 50px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

ul a {
    text-decoration: none;
    color: white;
}

.container {
    min-height: 72vh;
    width: 75%;
    background-color: rgba(73, 65, 65, 0.733);
    border-radius: 10px;
    padding: 34px;
    color: white;
    display: flex;
    margin: 20px auto;
    background-image: url("/Spotify-Clone/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    height: 75px;
    background-color: rgba(29, 26, 26, 0.959);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
    margin: 5px;
}

#progressBar {
    width: 100vh;
    cursor: pointer;
}

.songItem {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.507);
    width: 75%;
    color: black;
    margin: 20px 0;
    border-radius: 30px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    cursor: pointer;
}

.songList {
    overflow: scroll;
    height: 500px;
}

.songList::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.songItem a {
    color: black;
}

.songItem img {
    width: 45px;
    border-radius: 50%;
}

.timeStamp {
    margin: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.songInfo {
    position: absolute;
    left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songInfo img {
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.playTime {
    position: absolute;
    right: 20vw;
}

.playTools {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5vw;
    gap: 0.3rem;
    cursor: default;
}

.albumsContainer {
    height: 100vh;
    margin: 20px 40px 0px 40px;
}

.bestPicksContainer {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.albumsContainer #hd1 {
    color: white;
}

.albumsContainer #hd2 {
    color: white;
    margin: 20px 0 0 0;
}

.albumCover {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    cursor: pointer;

}

.albumCover a {
    text-decoration: none;
    color: rgb(243, 235, 235);
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
}

.footElements {
    height: 45vh;
    background-color: rgba(24, 22, 22, 0.849);
    display: flex;
}

.footLinks {
    width: 150px;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

.footLinks a {
    text-decoration: none;
    color: rgb(216, 213, 213);
    margin-top: 10px;
}

.footLinks a:hover {
    color: white;
    text-decoration: underline;
}

.footIcons {
    height: 150px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10vw;
}

.footIcons a {
    text-decoration: none;
    color: rgb(216, 213, 213);
}

.cpyrgt {
    height: 20vh;
    width: 100%;
    padding: 5px;
    border-top: 1px solid white;
    color: rgb(216, 213, 213);
    background-color: rgba(24, 22, 22, 0.849);
}